XmlValidator/myschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="basket">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="thing"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thing">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="price"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="price" type="xs:integer"/>
</xs:schema>